{% extends 'base.html' %}

{% block content %}
<main class="container margin-bottom-50">
  <div class="row margin-top-50 text-justify">
    <p>Platforma Badań Mózgu (PBM) jest inicjatywą Politechniki Warszawskiej oraz Instytutu Biologii Doświadczalnej im. Marcela Nenckiego Polskiej Akademii Nauk. PBM została powołana, aby umożliwić prowadzenie szerokiego spektrum zaawansowanych interdyscyplinarnych badań podstawowych oraz aplikacyjnych.</p>
    <p>Dzięki platformie partnerzy naukowi oraz komercyjni otrzymują bezpośredni dostęp do zaplecza obliczeniowego Politechniki Warszawskiej oraz skanera rezonansu magnetycznego (MRI) o mocy pola 3 Tesla, działającego w Pracowni Obrazowania Mózgu, Centrum Neurobiologii, Instytutu Biologii Doświadczalnej. </p>
    <p>Platforma Badań Mózgu zapewnia także całościową ekspertyzę w zakresie przygotowania i prowadzenia badań eksperymentalnych oraz zaawansowanych analiz danych. </p>
    <p>Członkowie zespołu platformy:</p>
    <br>
  </div>
  <div class="row">
    <div class="col-md-2 text-center col-md-offset-1">
      <a href="http://www.pw.edu.pl/"><img src="/static/img/pw_logo.jpg" class="logo"></a>
    </div>
    <div class="col-md-5 text-center">
      <a href="http://www.nencki.gov.pl/"><img src="/static/img/nencki_logo.jpg" class="logo"></a>
    </div>
    <div class="col-md-3 text-center">
      <a href="http://lobi.nencki.gov.pl/"><img src="/static/img/lobi_logo.jpg" class="logo"></a>
    </div>
  </div>
  <div class="row margin-top-50 text-center">
    <p>Strona w trakcie przygotowania. <br>
    Już wkrótce więcej szczegółów na temat zasad współpracy z Platformą Badań Mózgu. <br>
    Zapraszamy</p>
    <br>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <a href="http://www.cept.wum.edu.pl/"><img src="/static/img/cept_logo.jpg" class="logo"></a>
    </div>
  </div>
</main>
{% endblock content %}