<footer>
 <div class="container border-top margin-bottom-50">
  <br>
  <div class="row">
		 	<div class="col-md-1 text-center col-md-offset-2">
		 		<img src="/static/img/pw_logo.jpg" class="logo"></a>
		 	</div>
		 	<div class="col-md-3 text-center">
		  	<img src="/static/img/nencki_logo.jpg" class="logo"></a>
		 	</div>
		 	<div class="col-md-2 text-center">
		  	<img src="/static/img/lobi_logo.jpg" class="logo"></a>
		 	</div>
		 	<div class="col-md-1 text-center">
		  	<img src="/static/img/cept_logo.jpg" class="logo"></a>
			</div>
		</div>
	</div>
</footer>